<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="SpeedMailer" />
    <meta name="keywords" content="SpeedMailer" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">

        <!-- Favicons -->
        <link href="{{ asset('img/favicon.png') }}" rel="icon">

        <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" />
    {% endblock %}
</head>

<!--header start-->
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo"><b>Speed<span>Mailer</span></b></a>
    <!--logo end-->


    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
    </div>
</header>
<!--header end-->
<!-- nav-left -->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <h5 class="centered"></h5>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="mt">
                    <a href="{{ path('app_dashboard_admin') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-menu" href="{{ path('app_dashboard_admin_ticket') }}">
                        <i class="fa fa-envelope"></i>
                        <span>Tickets </span>
                        <span class="label label-theme pull-right mail-info">
                            {%  if countTicketOpen is defined  %}
                                {{ countTicketOpen }}
                            {%  endif %}
                        </span>
                    </a>
                </li>
            {% elseif is_granted('ROLE_USER') %}
                <li class="mt">
                    <a href="{{ path('app_dashboard_user') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-menu" href="{{ path('app_dashboard_user_ticket') }}">
                        <i class="fa fa-envelope"></i>
                        <span>Tickets </span>
                        <span class="label label-theme pull-right mail-info">
                            {%  if countTicketOpen is defined  %}
                                {{CountTicketUser}}
                            {%  endif %}
                        </span>
                    </a>
                </li>

            {% endif %}

                {% if app.user.mailCredit >= 0  %}
                <li>
                    <a class="sidebar-menu" href="{{ path('lists') }}">
                        <i class="fa fa-envelope"></i>
                        <span>Liste </span>
                        <span class="label label-theme pull-right mail-info">
                        </span>
                    </a>
                </li>
                {% endif %}

                {% if app.user.mailCredit >= 0  %}
                <li>
                    <a class="sidebar-menu" href="{{ path('clean') }}">
                        <i class="fa fa-envelope"></i>
                        <span>Nettoyage </span>
                        <span class="label label-theme pull-right mail-info">
                        </span>
                    </a>
                </li>
                {% endif %}

                <li>
                    <a class="sidebar-menu" href="{{ path('app_order_list_dashboard') }}">
                        <i class="fa fa-envelope"></i>
                        <span>Mes commandes</span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-menu" href="{{ path('home') }}">
                        <i class="fa fa-envelope"></i>
                        <span>Revenir au Site </span>
                    </a>
                </li>
                <li>
                    <a class="sidebar-menu" href="{{ path('app_logout') }}">
                        <i class="fa fa-envelope"></i>
                        <span>Logout </span>
                    </a>
                </li>

                {% if app.user.mailCredit <= 0  %}
                <li>
                    <a class="sidebar-menu" href="{{ path('offer') }}">
                        <i class="fa fa-envelope"></i>
                        <span>Obtenir un acces complet </span>
                        <span class="label label-theme pull-right mail-info">
                        </span>
                    </a>
                </li>
                {% endif %}


        </ul>
        <br/><br/>
        <ul>
        {% if is_granted('ROLE_ADMIN') %}
        
            <h5><span class="badge badge-warning">ADMIN MODE</span></h5>
            <h6> Email restant: {{app.user.mailCredit}} </h6>
        
        {% elseif is_granted('ROLE_USER') %}
            {% if app.user.mailCredit >= 0  %}
            
                {% if app.user.orders|length  > 0 %}
                    <h5><span class="badge badge-warning">PRENIUM</span></h5>
                    <h6> Email restant: {{app.user.mailCredit}} </h6>
                {% else %}
                <h5><span class="badge badge-warning">FREE VERSION</span></h5>
                <h6> Email restant: {{app.user.mailCredit}} </h6>
                {% endif %}
            {% else %}
                <h5><span class="badge badge-warning">ACCES LIMITE</span></h5>

            {% endif %}
            
        
        {% endif %}
        </ul>
        
        <!-- sidebar menu end-->
    </div>
</aside>
<!-- end nav -->
<div class="curved-bg-div wow animated fadeIn" data-wow-delay="0.15s">
    <br/>
    <br/>
    <h5 class="text-right"> Bonjour {{ app.user.email }} </h5>
</div>

<br/>
<br/>
{% block body %}
    <!-- Template twig -->
{% endblock %}
<!-- blue bar -->
<br/>
<div class="p-3 mb-2 bg-info text-white center"></div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('js/payment.js') }}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">
    </script>

    <!-- THEME -->
    <script src="theme/js/jquery.min.js"></script>
    <script src="theme/js/bootstrap.js"></script>
    <script src="theme/js/owl.carousel.js"></script>
    <script src="theme/js/wow.min.js"></script>
    <script src="theme/js/main.js"></script>
{% endblock %}



</body>

</html>
