{% extends 'baseDashboard.html.twig' %}

{% block title %} Nettoyage {% endblock %}

{% block body %}

<div class="container ">
    <div>
        {{ form_start(emailForm) }}
        {{ form_widget(emailForm) }}
        <button type="submit" class="btn btn-info pull-right">Verifier</button>
        {{ form_end(emailForm) }}
        <br/><br/>
    </div>
    <h1> Clean your mailing list </h1>

    {% for message in app.flashes('info') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <!--
    <div id='attente'>
      Veuillez patienter, nettoyage en cours
    </div>
    -->


    <br/>
    <h3> Select on list</h3>
    <p> choice your options</p>
    {{ form_start(listOptionForm) }}
    {{ form_widget(listOptionForm) }}
    <button type="submit" class="btn btn-info pull-right cleanButton">Clean</button>
    {{ form_end(listOptionForm) }}

    <br/><br/><br/>

</div>

<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Clean</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Clean in progress</h3>
      </div>
      <br/><br/><br/>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
