{%  extends 'base.html.twig' %}

{% block body %}

<div class="padding">

    <h1> Your differents mailing list</h1>


    <br/><br/><br/>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalImportList">Import CSV</button>
    <br/><br/>

    <div class="modal fade" id="modalImportList" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import a List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>select the address file to import </p>

                    {{ form_start(listForm) }}
                        {{ form_widget(listForm) }}
                    <!--<button type="submit" class="btn btn-success pull-right">Ajouter</button>-->

                        <button class="btn btn-primary">Import</button>

                </div>

                    {{ form_end(listForm) }}
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>



            </div>
        </div>
    </div>

    {% for message in app.flashes('info') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name of CSV</th>
            <th scope="col">Importation Date</th>
            <th scope="col">unique Contact</th>
            <th scope="col">Delete</th>
            <th scope="col">Export</th>
        </tr>
        </thead>
        <tbody>

        {% for list in lists %}
        <tr>
            <th scope="row">{{  list.id }}</th>
            <td> {{  list.name }} </td>
            <td>Date</td>
            <td>{{  list.contact }}</td>
            <td>
                <a href="{{ path('DeleteOnelist', { id : list.id}) }}">
                    <button type="button" class="btn btn-danger">Delete List</button>
                </a>
            </td>

            <td>
                <a href="{{ path('ExportOnelist', { id : list.id}) }}">
                    <button type="button" class="btn btn-success">Export CSV</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}